<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
    <td style="padding:2.5%;width:60%;vertical-align:middle">
        <h1>Logan Mondal Bhamidipaty (罗根)</h1>
        <p>
            I'm a Stanford student pursuing an MS in CS focusing on AI and a BS in math. I'm fortunate to have worked with many amazing collaborators at the Stanford AI Lab (SAIL) including <a href="https://cs.stanford.edu/people/ebrun/">Emma Brunskill</a>, <a href="https://mykel.kochenderfer.com/">Mykel Kochenderfer</a>, <a href="https://hastie.su.domains/">Trevor Hastie</a>, and <a href="https://ai.stanford.edu/~cbfinn/">Chelsea Finn</a>. I also work part-time as an economic consultant with <a href="https://milgrom.people.stanford.edu/">Paul Milgrom</a> at <a href="https://www.auctionomics.com/">Auctionomics</a>.
        </p>
        <p>
            <i>As a researcher, I am broadly interested in the confluence of RL, game theory, and market design. In particular, I want to build RL tools that allow autonomous agents to behave strategically in complex, real-world markets.</i>
        </p>
        {% include contacts.html %}
    </td>
    <td style="padding:2.5%;width:40%;max-width:40%">
        <img style="width:100%;max-width:100%" alt="profile photo" src="./assets/images/logan_circle.jpg">
    </td>
    </tr>
</table>