<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
    <td style="padding:2.5%;width:60%;vertical-align:middle">
        <h1>Logan Mondal Bhamidipaty (罗根)</h1>
        <p>
            I'm a Stanford student pursuing a BS in math and an MS in CS (AI focus). I work in Chelsea Finn's <a href="https://irislab.stanford.edu/">IRIS lab</a> on alignment, meta-RL, and POMDPs. Previously, I researched market design with Paul Milgrom (<a href="https://economics.stanford.edu/">Department of Economics</a>) and dynamical systems with Kwabena Boahen (<a href="https://web.stanford.edu/group/brainsinsilicon/">Brains in Silicon</a>).  
        </p>
        <p>
            <i>I am broadly interested in the confluence of RL and economics. In particular, I want to build RL tools that allow autonomous agents to behave strategically in complex, real-world environments.</i>
        </p>
        {% include contacts.html %}
    </td>
    <td style="padding:2.5%;width:40%;max-width:40%">
        <img style="width:100%;max-width:100%" alt="profile photo" src="./assets/images/logan_circle.jpg">
    </td>
    </tr>
</table>